<div class="flex flex-col min-h-screen bg-gray-900 text-white">
    <app-navigation-bar></app-navigation-bar>
    
    <main class="container mx-auto py-8">
        <h2 class="text-3xl font-semibold mb-6 text-blue-400">My Favorite</h2>
  
        <div *ngIf="favorite.length > 0; else nomedias" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div *ngFor="let media of favorite" class="bg-gray-800 rounded-lg overflow-hidden group relative shadow-lg transition-transform duration-300 transform hover:scale-105">
                <img [src]="'https://image.tmdb.org/t/p/w500'+media.poster_path" alt="{{ media.title || media.name }}" class="w-full h-96 object-cover transition-transform duration-300 group-hover:scale-105">
                
                <div (click)="mediaDetails(media)" class="p-4 absolute inset-0 bg-gray-900 bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-end cursor-pointer">
                    <h3 class="text-lg font-semibold text-blue-400">{{ media.title || media.name }}</h3>
                    <p class="text-gray-300 text-sm">{{ media.release_date || media.first_air_date | date:'MMMM d, yyyy'}}</p>
                </div>
  
                <div class="absolute top-2 right-2">
                  <button 
                      (click)="removeFromFavorite(media.id)" 
                      class="relative bg-red-600 text-white px-2 py-1 rounded-full overflow-hidden transition duration-300 hover:bg-red-700">
                      
                      <span class="absolute inset-0 w-full h-full bg-red-800 rounded-full animate-ping opacity-0"></span>
                      &#10005;
                  </button>
              </div>
              
            </div>
        </div>
  
        <ng-template #nomedias>
            <p class="text-gray-400 text-center">Your watch list is empty.</p>
        </ng-template>
    </main>
    <app-footer class="mt-auto"></app-footer>
  </div>
  